@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #373737;
}

h3{
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    Letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;
}

#form{
    position: relative;
}

#form #email{
    width: 300px;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-style: 18px;
}

#form #inputBox{
    position: relative;
}

#text{
    display: block;
    color: #000;
    font-weight: 500;
    font-style: italic;
    padding: 5px;
}

#form.invalid #inputBox::before
{
    content: ' ';
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    background: url(invalid.png);
    background-size: cover;
    z-index: 1000;
}

#form.valid #inputBox::before
{
    content: '';
    position: absolute;
    right: 12px;
    top: 9px;
    width: 24px;
    height: 24px;
    background: url(valid.png);
    background-size: cover;
    z-index: 1000;
}